<nav class="sidebar">
      <div class="sidebar-header">
        <div class="d-flex">
          <a href="/dashboard" class="sidebar-brand ">
            <img src="../../../assets/images/mkel-logo.png"  width="30px"  height="20px">
          </a>
          <h6 class="pl-2 pt-2 mt-1">TRACKER  <span class="ml-2 text-primary">APP</span></h6>  

        </div>
        <div class="sidebar-toggler not-active">
          <span></span>
          <span></span>
          <span></span> 
        </div>
      </div>
      <div class="sidebar-body">
        <ul class="nav">
          <li class="nav-item nav-category">Tasks</li>
          
          <li class="nav-item">
            <a href="#" class="nav-link" data-toggle="modal" data-target=".myClients">
              <i class="link-icon" data-feather="clipboard"></i>
              <span class="link-title">My Tasks</span>
            </a>
          </li>  
          
          <li class="nav-item nav-category">Carriers</li>
          <li class="nav-item">
            <a href="/ss/voip/carriers" class="nav-link">
              <i class="link-icon" data-feather="voicemail"></i>
              <span class="link-title">VoIP Carriers</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/ss/sms/carriers" class="nav-link">
              <i class="link-icon mdi mdi-message-text-outline" ></i>
              <span class="link-title">SMS Carriers</span>
            </a>
          </li>
  
          
              <li class="nav-item nav-category">Weekly Report</li>
              <li class="nav-item">
                <a href="/ss/reports" class="nav-link">
                  <i class="link-icon mdi mdi-checkbox-multiple-blank" ></i>
                  <span class="link-title">All Reports</span>
                </a>
              </li>
           
              <li class="nav-item">
                <a href="/reports/generate" class="nav-link">
                  <i class="link-icon mdi mdi-file-tree" ></i>
                  <span class="link-title">Generate Report</span>
                </a>
              </li>
              

              
         <div class="list-group mt-5">
          
          <a href="#" class="list-group-item list-group-item-action mt-5 d-flex" data-toggle="modal" data-target=".myTasks">
            <i class="mdi mdi-face-profile mx-2"></i>
            My Accounts <span class="ml-3 float-right">
              <h6><%= user.assignedTasks.length %></h6>
            </span>
          </a>
          <a href="#" class="list-group-item list-group-item-action d-flex" data-toggle="modal" data-target=".myClients">
            <i class="mdi mdi-bell-ring-outline mx-2"></i>
            
            My Tasks <span class="ml-3 float-right">
             <h6><%= tasks.length %></h6> 
            </span>
          </a>
          
        </div>  
      </ul>
      </div>
    </nav>
 
      	<!-- Expand Notes -->
			<div class="modal fade myTasks" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
				  <div class="modal-content card-body-alt">
            <div class="card-body-alt" style="max-height: 80rem;">
              <div class="card-body" >
                  <div class="d-flex justify-content-between align-items-baseline mb-2">
                    <h6 class="card-title mb-0">My Accounts</h6>
                   
                  </div>
                  <div class="d-flex flex-column mt-3" >
                

                    <table class="table table-striped " >
                      <thead class="border-info">
                        <tr>
                          <th>
                            Carrier
                          </th>
                          <th>
                            Credit Balance
                          </th>
                          <th>
                            Credit Limit
                          </th>
                          
                          
                        </tr>
                      </thead>
                      <tbody>
                        <%let myAccounts = user.assignedTasks %>
                         <%for (i in myAccounts) {%>
                          <tr>
                            <td>
                              <a href="/client/<%= myAccounts[i]._id%>"><%= myAccounts[i].Customer_Name%></a>
                            </td>
          
                            <td>
                              <%= myAccounts[i].CB%>
          
                            </td>
          
                            <td>
                              <%= myAccounts[i].CL%>
                            </td>
          
                           
                          </tr>
                        <% } %>
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
				  </div>
				</div>
			  </div>


        <div class="modal fade myClients" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content card-body-alt">
            <table class="table table-striped " >
              <thead class="border-info">
                <tr>
                  <th>
                    Title
                  </th>
                  <th>
                    Assigned To
                  </th>
                  <th>
                    Status
                  </th>
                  <th>
                    Deadline
                  </th>
                  
                </tr>
              </thead>
              <tbody>
                <% for (i in tasks) {%>
                  <tr>
                    <td>
                      <a href="/mm/task/<%= tasks[i]._id%>"><%= tasks[i].title%></a>
                    </td>
  
                    <td>
                      <%= tasks[i].taskFor.name%>
  
                    </td>
  
                    <td>
                      <%= tasks[i].status%>
                    </td>
  
                    <td>
                      <%= tasks[i].deadline%>
                    </td>
                  </tr>
                <% } %>
                
              </tbody>
            </table>
            </div>
          </div>
          </div>