<%- include('partials/head') %>

<body class="sidebar-dark"> 
	<div class="main-wrapper">
		<div class="page-wrapper full-page ">
			<div class="page-content d-flex align-items-center justify-content-center" style="margin-top: 0;">

				<div class="card " style=" width: 90% ">
					<div class="card-body card-body-alt px-5" >
					<div class="row">
						<div class="col-md-8">
							
								<h5 class="card-title mb-3">OnBoarding Tracker</h5>
								<p class="card-description">Monitor on-boarding processes of every customer</p>
								<!-- THis is to show all messages -->
								<% if (message) { %>
									
									<div id="alert-message" class="alert  text-center alert-success alert-dismissible fade show" role="alert">
									  <i data-feather="check"></i> <strong><%= message %></strong>
									</div>
								  
							  <% } else if (error)  {%>
								<div id="alert-message" class="alert  text-center alert-danger alert-dismissible fade show" role="alert">
									<i data-feather="x"></i> <strong><%= error%></strong>
								  </div>
								  <% } else {}%>
								  
								<!-- End of showing all messages -->
								<h5 class="card-title mb-3">VoIP SERVICE</h5>
		
									<section class="">
										<div class="table-responsive ">
											<table class="table table-striped " id="voipTable">
												<thead class="border-info text-center">
													<tr>
														<th>
															Company
														</th>
														<th>
															Stage
														</th>
														
														<th>
															Status
														</th>
														<th>
															Service
														</th>
														<th>
															A.M.
														</th>
													</tr>
												</thead>
												<tbody>
													<% for (i in voip) {%>
		
														<tr>
															<td class="py-1">
																<a href="/track/tracker/<%= voip[i]._id%>"><%= voip[i].Customer_Name%></a>
															</td>
															<td>
																<div class="dropdown">
																	
																	<button class="btn btn-dark bg-transparent dropdown-toggle" type="button" id="dropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																		<%= voip[i].stage.process_stage%>
																	</button>
																	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
																		<%for (j in stages) {%>
																			
																			<form action="/track/updateStage/<%= voip[i]._id%>" method="post">
																				<button type="submit"  class="dropdown-item" style="border:none;">
																					<%= stages[j]%>
																				</button>
																				<input type="hidden" name="stage" value="<%= stages[j]%>">
																			</form>
																		<% } %>
																		<div class="dropdown-divider"></div>
																		
																	</div>
																</div>
																
		
															</td>
															
															<td>
																<div class="progress">
																	<% if (voip[i].stage.status === '' || voip[i].stage.status === 'NA'){%>
																		<div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 5%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
																			<%= voip[i].stage.status%>
																		
																		</div>
																	<%} else if (voip[i].stage.status === 'Initiated') {%>
																		<div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
																			<%= voip[i].stage.status%>
																		
																		</div>
																	<% } else if (voip[i].stage.status === 'Ongoing' || voip[i].stage.status === 'Incomplete'  ) {%>
																		<div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 60%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
																			<%= voip[i].stage.status%>
																		
																		</div>
																	<% } else if (voip[i].stage.status === 'Complete' || voip[i].stage.status === 'Completed'  ) {%>
																		<div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: 100%;"  role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
																			<%= voip[i].stage.status%>
																		
																		</div>
																	<% } else { %>
																		<div class="progress-bar progress-bar-striped progress-bar-animated
																		<%if (voip[i].completionPercentage <40 ){%> bg-danger  %>
																		<%}else if (voip[i].completionPercentage > 30 && voip[i].completionPercentage <= 60) {%>
																			 bg-warning																
																		<%}else %> bg-success " role="progressbar"  style="width: 100%;"  aria-valuenow="<%= voip[i].completionPercentage%>" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
																			<%= voip[i].completionPercentage%>
																		
																		</div>
																	<% } %>
																</div>
															</td>
															<td>
																<%= voip[i].service_interest.service_name%>
		
															</td>
															
															<td>
																<% if (voip[i].account_manager) {%>

																	<%=voip[i].account_manager.name%>
																<% } else { %>
																	NA
																<% } %>

															</td>
																
															
														</tr>
													
													<% } %>
												</tbody>
											</table>
										</div>		
									</section>
									
									<div class="border-top my-5">
										<div class="border-bottom"></div>
									</div>
			
			
									
									<!--SMS Section Table-->
									<section class="">
										<h5 class="card-title ">SMS SERVICE</h5>
		
										<div class="table-responsive ">
											<table class="table table-striped" id="smsTable">
												<thead class="text-center">
													<tr>
														<th>
															Company
														</th>
														<th>
															Stage
														</th>
														
														<th>
															Status
														</th>
														<th>
															Service
														</th>
														<th>
															A.M.
														</th>
													</tr>
												</thead>
												<tbody>
													<% for (i in sms) {%>
		
														<tr>
															<td class="py-1">
																<a href="/track/tracker/<%= sms[i]._id%>"><%= sms[i].Customer_Name%></a>
															</td>
															<td>
																<div class="dropdown">
																	
																	<button class="btn btn-dark bg-transparent dropdown-toggle" type="button" id="dropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																		<%= sms[i].stage.process_stage%>
																	</button>
																	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
																		<%for (j in stages) {%>
																			
																			<form action="/track/updateStage/<%= sms[i]._id%>" method="post">
																				<button type="submit"  class="dropdown-item" style="border:none;">
																					<%= stages[j]%>
																				</button>
																				<input type="hidden" name="stage" value="<%= stages[j]%>">
																			</form>
																		<% } %>
																		<div class="dropdown-divider"></div>
																		
																	</div>
																</div>
																
		
															</td>
															
															<td>
																<div class="progress">
																	<% if (sms[i].stage.status === '' || sms[i].stage.status === 'NA'){%>
																		<div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 5%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
																			<%= sms[i].stage.status%>
																		
																		</div>
																	<%} else if (sms[i].stage.status === 'Initiated') {%>
																		<div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
																			<%= sms[i].stage.status%>
																		
																		</div>
																	<% } else if (sms[i].stage.status === 'Ongoing' || sms[i].stage.status === 'Incomplete'  ) {%>
																		<div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 60%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
																			<%= sms[i].stage.status%>
																		
																		</div>
																	<% } else if (sms[i].stage.status === 'Complete' || sms[i].stage.status === 'Completed'  ) {%>
																		<div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
																			<%= sms[i].stage.status%>
																		
																		</div>
																	<% } else { %>
																		<div class="progress-bar progress-bar-striped progress-bar-animated
																		<%if (sms[i].completionPercentage <40 ){%> bg-danger  %>
																		<%}else if (sms[i].completionPercentage > 30 && sms[i].completionPercentage <= 60) {%>
																			 bg-warning																
																		<%}else %> bg-success " role="progressbar"  style="width: 100%;"  aria-valuenow="<%= sms[i].completionPercentage%>" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
																			<%= sms[i].completionPercentage%>
																	
																		</div>
																	<% } %>
																</div>
															</td>
															<td>
																<%= sms[i].service_interest.service_name%>
		
															</td>
															<td>
																<% if (sms[i].account_manager) {%>

																	<%=sms[i].account_manager.name%>
																<% } else { %>
																	NA
																<% } %>
															</td>
														</tr>
														<!-- Assign account manager  -->
														<div class="modal fade " id="assign<%= sms[i]._id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
															<div  style="">
																<div class="modal-dialog " >
																<div class="modal-content ">
																	<div class="modal-header">
																	<h4 class="modal-title" id="exampleModalLabel">Assign Client to Account Manager <code><%=voip[i]._Customer_Name %> </code></h4>
																	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																		<span aria-hidden="true">&times;</span>
																	</button>
																	</div>
																	<div class="modal-body">
																	<form method="post" action="/track/assign/account-manager/<%= voip[i]._id%>" >
																		<div class="form-group row ">
																			<div class="col">
																				<label>Title:</label>
																				<input disabled value="<%=voip[i].Customer_Name %>" class="form-control mb-4 mb-md-0" name="documentTitle">
																			</div>
																			<div class="col">
																				<label>Assign Account Manager: </label>
																				<select name="userId" class="form-control form-control-sm mb-3">
																					<option  selected=""></option>
																					<%for (i in users) {%>
																						<option value="<%= users[i].id%>"><%= users[i].name%></option>
																					<% } %>				
																				</select>
																			</div>
																												
																		</div>
																		</div>
																		
																		<div class="modal-footer moveModal">
																			<button type="submit" class="btn btn-info">Assign</button>
																			</div>
																	</form>
																	</div>
																	
																</div>
																</div>
															</div>
													<% } %>
												</tbody>
											</table>
										</div>					
									</section>			
								
							</div>
							<!-- END OF THE FIRST SECTION -->
							<style>
								.appIcons{
									width: 15px;
									height: 15px;
									margin: 0;
								}
							</style>
						<div class="col-md-4">
							<div class="card bg-transparent"  style="height: 10rem;">
								<ul class="list-group list-group-flush card-body-hor py-2">
									<li class="list-group-item">
										<div class="row">
											<div class="col-md-6 ">
												<label class="text-muted">Assigned:
												</label>
												
												
												<span class="float-right">
													<a href="#" data-toggle="modal" data-target=".assigned">
														<i class="appIcons mx-0 px-0" data-feather="maximize-2" ></i>
													</a>
												</span>
												<a href="#" data-toggle="modal" data-target=".assigned">
													<h5 class="text-info mx-0 px-0"><%= assignedClients%></h5>
												</a>
											</div>
											<div class="col-md-6 ">
												<label class="text-muted">Un-Assigned:
												</label>
												<span class="float-right">
													<a href="#" data-toggle="modal" data-target=".unassigned">
														<i class="appIcons mx-0 px-0" data-feather="maximize-2" ></i>
													</a>
												</span>
												
												<a href="#" data-toggle="modal" data-target=".assigned">
													<a><h5 class="text-warning"><%= unassignedClients%></h5></a>
												</a>
											</div>
										</div>						
									</li>
									
									<li class="list-group-item">
										<div class="row">
											<div class="col-md-6">
												<label class="text-muted">Complete:
												</label>
												<!-- <span class="float-right">
													<i class="appIcons text-muted" data-feather="external-link" ></i>
												</span> -->
												<a><h5 class="text-success"><%= completedPercentile%></h5></a>
											</div>
											<div class="col-md-6">
												<label class="text-muted">Incomplete:
												</label>
												<!-- <span class="float-right">
													<i class="appIcons text-muted" data-feather="external-link" ></i>
												</span> -->
												<a><h5 class="text-danger"><%= incompletePercentile%>%</h5></a>
												
											</div>
										</div>	
									</li>
									
								</ul>
							</div>
							<!-- END OF COL 2 TOP CARD -->
							<!-- User tables -->
							<!-- USER TABLE -->
							<section class="mx-3 ">
								<h4 class="card-title mt-5">
									USERS
									<a href="#" class="float-right mx-3" data-toggle="modal" data-target=".bd-example-modal-sm">
										<i data-feather="user-plus"></i>
									</a>
								</h4>
								<div class="mt-3 card-body-hor" style="max-height: 300px; width: 100%;">
									<%for (i in users) {%>
										<a href="#" class="d-flex align-items-center border-bottom " data-toggle="modal" data-target="#records<%=[i]%>">
											<div class="mr-3">
											  <img src="https://via.placeholder.com/35x35" class="rounded-circle wd-35" alt="user">
											</div>
											<div class="w-100">
											  <div class="d-flex justify-content-between">
												<h6 class="text-body my-2"><%= users[i].name%></h6>
												<p class="my-2 px-2 <%if (users[i].role == 'Admin') {%>text-success<%} else {%> text-info tx-12 <%}%>"><%= users[i].role%></p>
											  </div>
											  <p class="text-muted tx-13"><%= users[i].assignedTasks%> Assigned Accounts</p>
											</div>
										  </a>
										  <%- include('partials/records') %>
									  <% } %>
								</div>
							</section>

							<!-- User Logs Section -->
							<section class="mx-4 border-light">
								<h4 class="card-title mt-5">
									TASKS
									<a href="#" class="float-right mx-3" data-toggle="modal" data-target=".bd-example-modal-lg-full-tasks-expand">
										<i data-feather="maximize"></i>
									</a>
									<a href="#" class="float-right mx-3" data-toggle="modal" data-target="#tasks_" data-whatever="@fat">
										<i data-feather="plus"></i>
									</a>
								</h4>
								<div class="table-responsive card-body-hor ">
									

									<table class="table table-striped " >
										<thead class="border-info">
											<tr>
												<th>
													Task
												</th>
												
												<th>
													Status
												</th>
												<th>

												</th>
												
											</tr>
										</thead>
										<tbody>
												<% for (i in tasks) { %>
											<tr>

														<td>
															<a class="#">
																<%= tasks[i].title %>
															</a>
														</td>
														<td>
															<%if (tasks[i].status == 'Active') {%>
																<span class="text-success"><%= tasks[i].status %></span>
														
															<% } else {%>
																<span class="text-danger"><%= tasks[i].status %></span>

																<% }%>
														<td>
															<div class="d-flex justify-content-center align-items-center">
																<a href="" class="mx-2 text-info" data-toggle="modal" data-target=".bd-example-modal-lg-full-tasks<%=[i]%>">
																	<i class="appIcons" data-feather="edit-2"></i>
																</a>
																<a href="" class="mx-2 text-primary" href="#" data-toggle="modal" data-target="#addTaskNote<%=[i]%>" data-whatever="@fat">
																	<i class="appIcons" data-feather="clipboard"></i>
																</a>
																<a href="" class="mx-2 text-danger" data-toggle="modal" data-target="#deleteTask<%=[i]%>" data-whatever="@fat">
																	<i class="appIcons" data-feather="trash-2"></i>
																</a>
															</div>
															<!-- Full TASKS expand -->
														<%- include('partials/task') %>
														</td>
														
											</tr>
													
												<% } %>
										</tbody>
										
									</table>
								</div>		
							</section>

							
						</div>
						</div>



					</div>
				</div>
				
				
				

			</div>
			
			<!-- Nav Includes -->
			<%- include('partials/nav') %>
			
		</div>
		
	</div>

	<!-- End Includes -->
	<%- include('partials/end') %>


	
<!-- cREATE TASKS -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Open modal for @fat</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Open modal for @getbootstrap</button> -->

<div class="modal fade" id="tasks_" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/tasks" method="post">
          <div class="row">
			<div class="col">
				<div class="form-group">
					<label for="recipient-name" class="col-form-label">Title:</label>
					<input type="text" class="form-control" name="title" id="recipient-name">
				  </div>
			</div>
			<div class="col">
				<div class="form-group">
					<label for="recipient-name" class="col-form-label">Recipient:</label>
					<select name="taskFor" class="form-control form-control-sm mb-3">
						<option  selected=""></option>
						<%for (i in users) {%>
							<%if (users[i].role != 'Admin') {%>
								<option  value="<%= users[i].id%>">

									<%= users[i].name%>
								</option>
							<% } %>
						<% } %>
					</select>
				  </div>
			</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<label for="recipient-name" class="col-form-label">Ref. Carrier:</label>
						<select name="reference" class="form-control form-control-sm mb-3">
							<option  selected=""></option>
							<%for (i in trackers) {%>
								<option  value="<%= trackers[i]._id%>">

									<%= trackers[i].Customer_Name%>
								</option>
							<% } %>
						</select>
					  </div>
				</div>
				<div class="col">
					<div class="form-group">
						<label for="recipient-name" class="col-form-label">Deadline:</label>
						<div class="input-group date datepicker" id="datePickerExample">
							<input name="deadline" type="text" class="form-control"><span class="input-group-addon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg></span>
						</div>
					  </div>
				</div>
		  </div>
		 
          <div class="form-group">
            <label for="message-text" class="col-form-label">Description:</label>
            <textarea class="form-control" id="message-text" name="description"></textarea>
          </div>

		  <div class=" page-content d-flex justify-content-center align-items-center">
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			  <button type="submit" class="btn btn-primary"><i data-feather="plus"></i> 
				Task
			</button>
		  </div>
		</div>
        </form>
      </div>
	  
    </div>
  </div>
</div>
<div class="modal fade tasks" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
	  <div class="modal-content card-body-alt">
		<form action="/add-stats" method="post">
			<div class="form-group">
				<div class="row">
					<div class="col">
						<label for="recipient-name" class="col-form-label">Carrier:</label>
						<input disabled name="client" value="" type="text" class="form-control" >
						<input name="trackerId" value="" type="hidden" class="form-control" >
					</div>
					<div class="col">
						
						<label for="recipient-name" class="col-form-label">SMS #:</label>
						<input  name="smsSent" value="" type="text" class="form-control" >
			
					</div>
					<div class="col-md-6">
						<label for="recipient-name" class="col-form-label">Date:</label>
						<div class="input-group date datepicker" id="datePickerExample">
							<input name="date_finished" type="text" class="form-control"><span class="input-group-addon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg></span>
						</div>
					</div>
					<input  name="sms" value="SMS" type="hidden" class="form-control" >
					
				</div>
			</div>
			<div class="modal-footer d-flex page-content justify-content-center align-items-center">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-success">Post Stats</button>
			</div>
			</form>
	  </div>
	</div>
  </div>
<!-- ********************************* -->

<!-- Tasks Modal -->


  
  <!-- Add  Task -->
  <div class="modal fade" id="tasks_" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">New Task</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <form action="/tasks" method="post">
			
			  <div class="row">
				  <div class="col">
					  <div class="form-group">
						  <label for="recipient-name" class="col-form-label">Ref. Carrier:</label>
						  <select name="reference" class="form-control form-control-sm mb-3">
							  <option  selected=""></option>
							  <%for (i in trackers) {%>
								  <option  value="<%= trackers[i]._id%>">
  
									  <%= trackers[i].Customer_Name%>
								  </option>
							  <% } %>
						  </select>
						</div>
				  </div>
				  <div class="col">
					  <div class="form-group">
						  <label for="recipient-name" class="col-form-label">Deadline:</label>
						  <div class="input-group date datepicker" id="datePickerExample">
							  <input name="deadline" type="text" class="form-control"><span class="input-group-addon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg></span>
						  </div>
						</div>
				  </div>
			</div>
			<!-- <%if (trackers[i].documents) {%>
			  <select name="role" class="form-control form-control-sm mb-3">
				  <option  selected=""></option>
			<% trackers[i].documents.forEach(doc => { %>
			  <option  value="<%= doc.documentTitle%>"> <%= doc.documentTitle%>"</option>
			  <%  }) %>
			  
			  
		  <% } %> -->
			<div class="form-group">
			  <label for="message-text" class="col-form-label">Message:</label>
			  <textarea class="form-control" id="message-text" name="description"></textarea>
			</div>
  
			<div class=" page-content d-flex justify-content-center align-items-center">
			  <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary">Post Task</button>
			</div>
		  </div>
		  </form>
		</div>
		
	  </div>
	</div>
  </div>

<!-- ENd tasks Modal -->
<!-- Modal for Assigned Clients -->
<div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
	  <div class="modal-content card-body-alt">
		<table class="table table-striped " >
			<thead class="border-info">
				<tr>
					<th>
						Client
					</th>
					<th>
						Account Manager
					</th>
					<th>

					</th>			
					
				</tr>
			</thead>
			<tbody>
				<% for (i in voip) {%>
					<tr>
						<td>
							<%= voip[i].Customer_Name%>
						</td>

						<td>
							Un-Assigned
						</td>

						<td>
							<i data-feather="file-plus"></i>
						</td>
					</tr>
				<% } %>
				
			</tbody>
		</table>
	  </div>
	</div>
  </div>


<!-- Add User Modal -->
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm h-90">
	  <div class="modal-content card-body-alt">
		<div class="d-flex align-items-center justify-content-center">
			<div class="auth-form-wrapper px-4 py-5">
			<h5 class="text-muted font-weight-normal mb-4">Create a user account.</h5>
			<form class="forms-sample" action="/auth/register" method="post">
				<div class="form-group">
					<label for="exampleInputUsername1">FUll Name</label>
					<input type="text" class="form-control" name="name" id="exampleInputUsername1" placeholder="Full Name">
					</div>
				<div class="form-group">
				<label for="exampleInputUsername1">Username</label>
				<input type="text" class="form-control" name="username" id="exampleInputUsername1" autocomplete="Username" placeholder="Username">
				</div>
				<div class="form-group">
					<div class="justify-content-center">
						<label>Role: </label>
						<select name="role" class="form-control form-control-sm mb-3">
							<option  selected=""></option>
							<option  value="Admin">Admin</option>
							<option  value="Legal">Legal</option>
							<option  value="NOC">NOC</option>
							<option  value="Technical">Technical</option>

						</select>
					</div>	
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Designation:</label>
					<select name="designation" class="form-control form-control-sm mb-3">
						<option  selected=""></option>
						<option  value="Technical">Technical</option>
						<option  value="Legal">Legal</option>
						<option  value="Support">Support</option>
						<option  value="Management">Management</option>

					</select>		
				</div>
				
				<div class="form-check form-check-flat form-check-primary">
				</div>
				<div class="d-flex  justify-content-center">
				<button type="submit" class="btn btn-secondary text-white mt-4 mr-2 mb-md-0">
					<i data-feather="user-check"></i>
					Register User</button>
				</div>
			</form>
			</div>
		</div>
	  </div>
	</div>
</div>

<!-- Expand Assigned -->
<div class="modal fade assigned" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
	  <div class="modal-content card-body-alt">
		<table class="table table-striped " >
			<thead class="border-info">
				<tr>
					<th>
						Client
					</th>
					<th>
						Account Manager
					</th>
					
					
				</tr>
			</thead>
			<tbody>
				<% for (i in assignedTrackers) {%>
					<tr>
						<td>
							<%= assignedTrackers[i].Customer_Name%>
						</td>

						<td>
							<%= assignedTrackers[i].account_manager.name%>
						</td>

						
					</tr>
				<% } %>
				
			</tbody>
		</table>
	  </div>
	</div>
  </div>

  <!-- Expand unAssigned -->
<div class="modal fade unassigned" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
	  <div class="modal-content card-body-alt">
		<table class="table table-striped " >
			<thead class="border-info">
				<tr>
					<th>
						Client
					</th>
					<th>
						Account Manager
					</th>
					
					
				</tr>
			</thead>
			<tbody>
				<% for (i in unassignedTrackers) {%>
					<tr>
						<td>
							<%= unassignedTrackers[i].Customer_Name%>
						</td>

						<td>
							<div class="dropdown">
								<button class="btn btn-dark bg-transparent dropdown-toggle" type="button" id="dropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
									<%for (j in users) {%>
										<form action="/track/assign/account-manager/<%= unassignedTrackers[i]._id%>" method="post">
											<button type="submit"  class="dropdown-item" style="border:none;">
												<%= users[j].name%>
											</button>
											<input name="userId" type="hidden" value="<%=users[j].id%>">
										</form>
										
									<% } %>	
								</div>
							</div>
							
						</td>

						
					</tr>
				<% } %>
				
			</tbody>
		</table>
	  </div>
	</div>
  </div>

  <!-- RTasks Expand -->
  <div class="modal fade bd-example-modal-lg-full-tasks-expand" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content card-body-alt">
        <div class="modal-body">

			<div class="table-responsive card-body-hor ">
									

				<table class="table table-striped " >
					<thead class="border-info">
						<tr>
							<th>
								Task
							</th>
							
							<th>
								Status
							</th>
							<th>

							</th>
							
						</tr>
					</thead>
					<tbody>
							<% for (i in tasks) { %>
						<tr>

									<td>
										<a class="#">
											<%= tasks[i].title %>
										</a>
									</td>
									<td>
										<%if (tasks[i].status == 'Active') {%>
											<span class="text-success"><%= tasks[i].status %></span>
									
										<% } else {%>
											<span class="text-danger"><%= tasks[i].status %></span>

											<% }%>
									<td>
										<div class="d-flex justify-content-center align-items-center">
											<a href="" class="mx-2 text-info" data-toggle="modal" data-target=".bd-example-modal-lg-full-tasks<%=[i]%>">
												<i class="appIcons" data-feather="edit-2"></i>
											</a>
											<a href="" class="mx-2 text-primary" href="#" data-toggle="modal" data-target="#addTaskNote<%=[i]%>" data-whatever="@fat">
												<i class="appIcons" data-feather="clipboard"></i>
											</a>
											<a href="" class="mx-2 text-danger" data-toggle="modal" data-target="#deleteTask<%=[i]%>" data-whatever="@fat">
												<i class="appIcons" data-feather="trash-2"></i>
											</a>
										</div>
										<!-- Full TASKS expand -->
									<%- include('partials/task') %>
									</td>
									
						</tr>
								
							<% } %>
					</tbody>
					
				</table>
			</div>	
		</div>
	  </div>
	  </div>
</div>