<style>
	.smallIcons{
		max-width: 15px;
		max-height: 15px;
	}

	@media print{
    body *:not(#my-section):not(#my-section *){
        visibility:hidden;
    }
    #my-section{
        position: absolute;
        top: 0;
        left: 0;
		/* page: 1; */
		margin-left: -25%;
		visibility: visible;
		align-items: center;
		justify-content: center;
		min-width: 120%;
		min-height: 500%;
		zoom: 1;
    }
}
</style>
<%- include('includes/head') %>
<body class="sidebar-dark">

	<div class="main-wrapper">
		<%- include('includes/_navbar') %>


		<div class="page-wrapper">
			<%if (designation == "Admin" || designation == "Management" ) {%>
				<%- include('includes/_sidebar') %>
			  <%} else if (designation == "HoIT" || designation == "NOC-TL" ) {%>
				<%- include('includes/_sidebar-mm') %>
				
			  <%} else {%>
				<%- include('includes/_sidebar_Staff') %>
			<% } %>
			
			<div class="page-content d-flex align-items-center justify-content-center" style="margin-top: 0;">

				
				<div class="card cardbody mt-4" style="height: 100vh;">
					<div class="card-body cardbody card-body-alt px-5" >
						
									<!--SMS Section Table-->
									<section class="">
										<h5 class="card-title ">All Tasks </h5>
                                        <div class="table-responsive ">
											<table class="table table-striped card-body-alt" id="smsTable">
												<thead class="text-center">
													<tr>
														<th>
															Created
														</th>
														<th>
															Title
														</th>
														
														<th>
															Raised By
														</th>
														<th>
															Status
														</th>
														<th>
															Assignee
														</th>
                                                        <th>
															Deadline
														</th>
													</tr>
												</thead>
												<tbody>
                                                    <% for (i in tasks) {%>
                                                        <tr>
                                                            <td>
                                                                <%= tasks[i].date%>
                                                            </td>
                                                            <td>
																<%if (designation != "Admin" || designation != "Management" ) {%>
																	<a href="/mm/tasks/<%= tasks[i]._id%>">
																		<%= tasks[i].title%>
																	</a> 
																<%} else {%>
																	<a href="/admin/task/<%= tasks[i]._id%>">
																		<%= tasks[i].title%>
																	</a> 
																<%}%>
                                                               
        
                                                            </td>
                                                            <td>
                                                                <%= tasks[i].assignedBy.name%>
        
                                                            </td>
                                                            <td>
                                                                <%= tasks[i].status%>
                                                                
                                                            </td>
                                                            <td>
                                                                <%= tasks[i].taskFor.name%>
                                                            </td>
                                                            <td>
                                                                <%= tasks[i].deadline%>
                                                            </td>
                                                            
                                                        </tr>
                                                    <% } %>
                                                </tbody>
                                            </table>
                                        </div>
														
									</section>		
						
                                    





						<!-- MAin car END -->
					</div>
					
				
				
				</div>
				
				

			</div>


				
			
		</div>
		
	</div>

	
<script>
    // Add an event listener to the element with the ID "sendNotes"
    document.getElementById("sendNote").addEventListener("click", function() {
        // Close the modal with the ID "Notes"
        $("#Notes").modal("close");
    });
</script>


<%- include('includes/end') %>

   <!-- Add  edit updates -->
   <div class="modal fade" id="Edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Edit Updates</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <form action="/w/updates/652c3fd967240a7ebd93c39c" method="post">
			<script>
				new FroalaEditor('#textarea');
			  </script>
			<div class="row">
				<div class="col-md-12 grid-margin stretch-card">
						<div class="card-body">
							<textarea class="form-control" id="textarea" name="update"></textarea>
						</div>
				</div>
			</div>
  
		<div class=" page-content d-flex justify-content-center align-items-center">
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  <button type="submit" class="btn btn-primary"><i data-feather="plus"></i> 
		  Update
		</button>
		</div>
	  </div>
		  </form>
		</div>
	  
	  </div>
	</div>