<%- include('includes/head') %>


<style>
	.smallIcons{
		max-width: 15px;
		max-height: 15px;
	}

	@media print{
    body *:not(#my-section):not(#my-section *){
        visibility:hidden;
    }
	
    #my-section{
        position: absolute;
        top: 0;
        left: 0;
		/* page: 1; */
		margin-left: -20%;
		visibility: visible;
		align-items: center;
		justify-content: center;
		min-width: 120%;
		min-height: 500%;
		zoom: 1.2;
    }

	#my-notSection{
        
		visibility: hidden;
		
    }
}
</style>

 
<body class="sidebar-dark">

	<div class="main-wrapper">
		<%if (designation == "Admin" || designation == "Management" ) {%>
			<%- include('includes/_sidebar') %>
		  <%} else if (designation == "HoIT" || designation == "NOC-TL" ) {%>
			<%- include('includes/_sidebar-mm') %>
			
		  <%} else {%>
			<%- include('includes/_sidebar_Staff') %>
		<% } %>
		<div class="page-wrapper">
			<%- include('includes/_navbar.ejs') %>
			<div class="page-content d-flex align-items-center justify-content-center" style="margin-top: 0;">

				
				<div class="card mt-5" style=" width: 100%; height: 100vh; ">
					<div class="card-body card-body-alt px-5" >
						<div class="row">
							<div class="col-md-11" id= "my-section">
								<section id= "">
									<div class="card-" style="min-height: 100%;" ><div class="table-responsive ">
										<table class="table table-bordered table-dark my-4">
											
											<tbody>
												
												<tr class="">
													
													<td class="card-title text-center">
														Weekly Operation Report
													</td>
													<td class="text-muted text-center">
														<%= ReportDateRange %>
													</td>
													
												</tr>

												
											
											</tbody>
										</table>
									</div>


										<!-- Carrier weekly Activity minutes/Balance/Threshold -->
										<div class="card-title mt-3  px-2" >
											Carrier Activity Summary
										</div>
										<table class="table table-dark mt-3 mx-2" >
											<thead>
												<tr>
													<th>
														#
													</th>
													<th>
														Carrier
													</th>
													<th>
														Credit Balance
													</th>
													<th>
														Credit Limit
													</th>
													<th>
														Weekly Minutes
													</th>
													<th>
														Alert Active
													</th>
												</tr>
											</thead>
											<tbody>
												<% let counter = 0%>
												<%for (i in performance) {%>
													<%counter = counter + 1%>
													<tr>
														<td>
															<%= counter%>
														</td>
														<td>
															<%= performance[i].carrier.Customer_Name%>

														</td>
														<td>
															$ <%= performance[i].carrier.CB%>

														</td>
														<td>
															
															$ <%= performance[i].carrier.CL%>

														</td>
														<td>
															<%= performance[i].totalMinutesRoutesTerminated%>

														</td>
														<td class="text-success">
															True
														</td>
													</tr>
												<% } %>
												
											</tbody>
										</table>
	
										<!-- Customer Tickets -->
									<div class="card-title mt-3 px-2" >
										Tickets Summary
									</div>
									
										<table class="table table-dark mx-2" >
											<thead>
												<tr>
													<th>
														#
													</th>
													<th>
														Carrier
													</th>
													<th>
														Logged Issue
													</th>
													<th>
														Dates
													</th>
													<th>
														Status
													</th>
												</tr>
											</thead>
											<tbody>
												<%for (i in tickets) {%>
													<tr>
														<td>
															<%= i +1%>
														</td>
														<td>
															<%= tickets[i].type%>
														</td>
														<td>
															<%= tickets[i].subject%>
														</td>
														<td>
															<%= (tickets[i].date).toISOString().split('T')[0];%>
														</td>
														<td class="text-green">
															<%= tickets[i].status%>
														</td>
													</tr>
												<% } %>
												
													
											</tbody>
										</table>
										<!-- End tickets -->
	
										<div class="card-title mt-2 px-2" >
											Rate Notification
										</div>
										<div class="table-responsive ">
											<table class="table table-bordered">
												<thead>
													<tr>
														<th>
															#
														</th>
														<th>
															Supplier 
														</th>
														<th>
															Date Received
														</th>
														<th>
															<a href="#" class="float-right mx-2 text-secondary" data-toggle="modal" data-target="#UploadDoc" data-whatever="">
																<i class="smallIcons" data-feather="upload-cloud" aria-hidden="true"></i>
															</a>
														</th>
													</tr>
												</thead>
												<tbody>
													<% for (i in rates) {%>
														<tr class="table-warning text-dark">
															<td>
																<%= (i + 1)%>
															</td>
															<td>
																<a href="/download/<%= rates[i].documentPath%>" target="_blank">
																	<%= rates[i].carrier.Customer_Name %>

																</a>

															</td>
															<td>
																<%= rates[i].dateReceived %>
															</td>
															<td>
	
															</td>
														</tr>
													<% } %>
													
												
												</tbody>
											</table>
										</div>
		
										<!-- Other Updates -->
										<div class="card-title mt-3 px-2">
											Other Updates
										</div>
										<div class="table-responsive pt-3">
											<table class="table table-bordered">
												<thead>
													<tr>
														<th>
															By:
														</th>
														<th>
															Other Update
														</th>
														<th>
															
															<a href="#" class="float-right mx-2 text-secondary" data-toggle="modal" data-target=".addUpdate" >
																<i class="smallIcons" data-feather="plus" aria-hidden="true"></i>
															</a>
														</th>
														
													</tr>
												</thead>
												<tbody>
													<style>
														#containerSide {
															position: relative;
														}
														.copyright {
															position: absolute;
															bottom: 0;
														}
													</style>
													
													<%for (i in updates) {%>
														<tr class="table-primary text-dark">
														
															<td>
																<%= updates[i].postedBy.name%>
															</td>
															
															<td>
																<%- updates[i].update%>
															</td>
															<td>
																<% if ((updates[i].postedBy._id).toString() == (user._id).toString()) {%>
																	<a href="#" data-toggle="modal" data-target=".Edit<%= updates[i]._id%>"  >
																		<i class="appIcons text-muted my-notSection" data-feather="edit-2" ></i>
																	</a>
																<% } %>
															</td>
														</tr>
														<!-- Update Modal -->
														  <!-- Edit  -->
														<div class="modal fade Edit<%= updates[i]._id%>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
															<div class="modal-dialog modal-lg">
															<div class="modal-content card-body-alt">
																<form action="/w/updates/<%= updates[i]._id%>" method="post">
																	<!-- <script>
																		new FroalaEditor('#textarea');
																	  </script> -->
																	<div class="row">
																		<div class="col-md-12 grid-margin stretch-card">
																				<div class="card-body">
																					<textarea class="form-control" id="textareab" rows="10" name="update"><%- updates[i].update%></textarea>
																				</div>
																		</div>
																	</div>
														  
																<div class=" page-content d-flex justify-content-center align-items-center">
																<div class="modal-footer">
																  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
																  <button type="submit" class="btn btn-primary"><i data-feather="plus"></i> 
																  Update
																</button>
																</div>
															  </div>
															  <input type="hidden" name="rid" value="<%= weeklyReports._id%>" id="">
																  </form>
															</div>
															</div>
														</div>


													<% } %>
												</tbody>
											</table>
										</div>
	
	
									</div>
								</section>
								
								<!-- Rates -->
								

								<!--end of report page  -->
							</div>
							
	
							<div class="col-md-1">
								<div class=" bg-transparent" >
									<%if (designation != "Admin" || designation != "Management" ) {%>
										<div  class="float-right mr-4 " >
											<div style="position: fixed;" class="text-muted">
												
													<button type="button" class="btn btn-secondary btn-icon hvr-bounce-in animate__animated animate__backInDown ">
														<i class="link-icon" data-feather="printer"  onclick="window.print()"> </i>
													</button>
											<br>
												
												<button type="button" class="btn btn-info btn-icon my-3 hvr-bounce-in animate__animated animate__backInDown">
													<a href="/wr/reports/report/<%=weeklyReports._id%>"><i data-feather="refresh-ccw"></i></a>
												</button>
												<br>
												<% if (designation == "HoIT" || designation == "NOC-TL" ) {%>
													<form action="/wr/reports/report/submission/<%=weeklyReports._id%>" method="post">
														<button type="submit" class="btn btn-success hvr-bounce-in btn-icon animate__animated animate__backInDown">
															
																<i  data-feather="check"></i>
															
														</button>
													</form>
													
												  <% } %>
												
												
												
												
												<!-- <button type="button" class="btn my-3 w-100 btn-outline-info" " >Print</button>
												<button type="button" class="btn my-3 w-100 btn-outline-secondary">Sync Report</button>
												<button type="button" class="btn my-3 w-100 btn-outline-primary">Submit</button> -->
											</div>
										</div>
									<%} else {%>
										
									<%}%>
							

									
								</div>
							</div>
						</div>
					</div>
					
				
				
				</div>
				
				

			</div>


				
			
		</div>
		
	</div>

	
<script>
    // Add an event listener to the element with the ID "sendNotes"
    document.getElementById("sendNote").addEventListener("click", function() {
        // Close the modal with the ID "Notes"
        $("#Notes").modal("close");
    });
</script>

<!-- Add Rates -->
<div class="modal fade " id="UploadDoc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div  style="">
		<div class="modal-dialog " >
		<div class="modal-content ">
			<div class="modal-header">
			<h4 class="modal-title" id="exampleModalLabel"> Upload Accepted Rates </code></h4>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			</div>
			<div class="modal-body">
			<form method="post" action="/upload-rates/<%= weeklyReports._id%>" enctype="multipart/form-data">
				<div class="form-group row ">
					<div class="col">
						<label>Title:</label>
						<input value="" class="form-control mb-4 mb-md-0" name="documentTitle">
					</div>
					<div class="col">
						<label>Permission: </label>
							<select name="carrier" class="form-control form-control-sm mb-3">
								<option  selected=""></option>
								<%for (i in trackers) {%>
									<option  value="<%= trackers[i]._id%>">
										<%= trackers[i].Customer_Name%>
									</option>
								<% } %>
																							
							</select>
					</div>
					
				</div>
				<div class="row">
					<div class="col-md-6">
						<label>Document: </label>
						<input type="file" name="file" id="myDropify" class="border">				
					</div>
					
					<div class="col-md-6">
						<label>Date Received: </label>
						<div class="input-group date datepicker" id="datePickerExample">
							<input name="dateReceived" type="text" class="form-control"><span class="input-group-addon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg></span>
						</div>
					</div>
				</div>
				<div class="modal-footer moveModal">
					<button type="submit" class="btn btn-secondary">Upload Rate</button>
				</div>
			</form>
			</div>
			
		</div>
		</div>
	</div>
</div>

<!-- Add  edit updates -->
<div class="modal fade" id="plus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Edit Updates</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <form action="/wr/report/update/create" method="post">
			
			<div class="row">
				<div class="col-md-12 grid-margin stretch-card">
						<div class="card-body">
							<textarea class="form-control text-light" rows="10" id="textareab" name="update"></textarea>
						</div>
				</div>
			</div>
  
		<div class=" page-content d-flex justify-content-center align-items-center">
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  <button type="submit" class="btn btn-primary"><i data-feather="plus"></i> 
		  Update
		</button>
		</div>
	  </div>
		  </form>
		</div>
	  
	  </div>
	</div>
   </div>


   <!-- Edit  -->
   <div class="modal fade addUpdate" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
	  <div class="modal-content card-body-alt">
		<form action="/wr/report/update/create" method="post">
			
			<div class="row">
				<div class="col-md-12 grid-margin stretch-card">
						<div class="card-body">
							<textarea rows="20" class="form-control text-light h-100" style="min-height: 100%;" id="textareab" name="update"></textarea>
						</div>
				</div>
			</div>
  
		<div class=" page-content d-flex justify-content-center align-items-center">
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  <button type="submit" class="btn btn-secondary"> 
		  Post Update
		</button>
		</div>
	  </div>
		  </form>
	  </div>
	</div>
  </div>

<%- include('includes/end') %>
<script>
	new FroalaEditor('#textareab');
  </script>
   
   <!--   edit updates -->
