<style>
	.smallIcons{
		max-width: 15px;
		max-height: 15px;
	}

	@media print{
    body *:not(#my-section):not(#my-section *){
        visibility:hidden;
    }
    #my-section{
        position: absolute;
        top: 0;
        left: 0;
		/* page: 1; */
		margin-left: -25%;
		visibility: visible;
		align-items: center;
		justify-content: center;
		min-width: 120%;
		min-height: 500%;
		zoom: 1;
    }
}
</style>

<%- include('includes/head') %>

<body class="sidebar-dark">

	<div class="main-wrapper">
	<%- include('includes/_sidebar') %>

		<div class="page-wrapper">
			<%- include('includes/_navbar.ejs') %>
			<div class="page-content d-flex align-items-center justify-content-center" style="margin-top: 0;">

				
				<div class="card " style=" width: 100% ">
					<div class="card-body card-body-alt px-5" >
						<div class="row">
							<div class="col-md-11" id= "my-section">
								<section id= "">
									<div class="card-" style="min-height: 100%;" ><div class="table-responsive ">
										<table class="table table-bordered table-dark my-4">
											
											<tbody>
												
												<tr class="">
													
													<td class="card-title text-center">
														Weekly Operation Report
													</td>
													<td class="text-muted text-center">
														<%= weeklyReports.dateGenerated %>
													</td>
													
												</tr>

												
											
											</tbody>
										</table>
									</div>


										<!-- Carrier weekly Activity minutes/Balance/Threshold -->
										<div class="card-title mt-3  px-2" >
											Carrier Activity Summary
										</div>
										<table class="table table-dark mt-3 mx-2" >
											<thead>
												<tr>
													<th>
														#
													</th>
													<th>
														Carrier
													</th>
													<th>
														Credit Balance
													</th>
													<th>
														Credit Limit
													</th>
													<th>
														Weekly Minutes
													</th>
													<th>
														Alert Active
													</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>
														1
													</td>
													<td>
														Ventel
													</td>
													<td>
														$46,548
													</td>
													<td>
														$50,000
													</td>
													<td>
														20,048
													</td>
													<td class="text-success">
														True
													</td>
												</tr>
												<tr>
													<td>
														1
													</td>
													<td>
														Qatama
													</td>
													<td>
														$66,153
													</td>
													<td>
														$100,000
													</td>
													<td>
														51,978
													</td>
													<td class="text-success">
														True
													</td>
												</tr>
												
											</tbody>
										</table>
	
										<!-- Customer Tickets -->
									<div class="card-title mt-3 px-2" >
										Tickets Summary
									</div>
									
										<table class="table table-dark mx-2" >
											<thead>
												<tr>
													<th>
														#
													</th>
													<th>
														Carrier
													</th>
													<th>
														Logged Issue
													</th>
													<th>
														Dates
													</th>
													<th>
														Status
													</th>
												</tr>
											</thead>
											<tbody>
												<%for (i in tickets) {%>
													<tr>
														<td>
															<%= i%>
														</td>
														<td>
															<%= tickets[i].type%>
														</td>
														<td>
															<%= tickets[i].subject%>
														</td>
														<td>
															<%= tickets[i].date%>
														</td>
														<td class="text-green">
															<%= tickets[i].status%>
														</td>
													</tr>
												<% } %>
												
													<tr>
														<td>
															<%= %>
														</td>
														<td>
															<%= %>
														</td>
														<td>
															<%= %>
														</td>
														<td>
															<%= %>
														</td>
													</tr>
											</tbody>
										</table>
										<!-- End tickets -->
	
										<div class="card-title mt-2 px-2" >
											Rate Notification
										</div>
										<div class="table-responsive ">
											<table class="table table-bordered">
												<thead>
													<tr>
														<th>
															#
														</th>
														<th>
															Supplier 
														</th>
														<th>
															Product
														</th>
														
													</tr>
												</thead>
												<tbody>
													<tr class="table-warning text-dark">
														<td>
															1
														</td>
														<td>
															Cedric Kelly
														</td>
														<td>
															Photoshop
														</td>
														
													</tr>
													<tr class="table-warning text-dark">
														<td>
															2
														</td>
														<td>
															Haley Kennedy
														</td>
														<td>
															Flash
														</td>
														
													</tr>
												
												</tbody>
											</table>
										</div>
		
										<!-- Other Updates -->
										<div class="card-title mt-3 px-2">
											Other Updates
										</div>
										<div class="table-responsive pt-3">
											<table class="table table-bordered">
												<thead>
													<tr>
														<th>
															By:
														</th>
														<th>
															Other Update
														</th>
														<th>
	
														</th>
														
													</tr>
												</thead>
												<tbody>
													<style>
														#containerSide {
															position: relative;
														}
														.copyright {
															position: absolute;
															bottom: 0;
														}
													</style>
													
													<tr class="table-primary text-dark">
														
														<td>
															Other Update
														</td>
														
														<td>
															Updates to be added here for future reference.
														</td>
														<td>
															<a href="#" data-toggle="modal" data-target="#Edit" data-whatever="@fat" >
																<i class="appIcons text-muted" data-feather="edit-2" ></i>
															</a>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
	
	
									</div>
								</section>
								
								<!-- Rates -->
								

								<!--end of report page  -->
							</div>
							
	
							<div class="col-md-1">
								<div class=" bg-transparent" >
									

									<div  class="float-right mr-4 " >
										<div style="position: fixed;" class="text-muted">
											
												<button type="button" class="btn btn-secondary btn-icon hvr-bounce-in animate__animated animate__backInDown ">
													<i class="link-icon" data-feather="printer"  onclick="window.print()"> </i>
												</button>
										<br>
											
											<button type="button" class="btn btn-info btn-icon my-3 hvr-bounce-in animate__animated animate__backInDown">
												<i data-feather="refresh-ccw"></i>
											</button>
											<br>
											<form action="/wr/reports/report/submission/652c4b1990319fc2ae508af0" method="post">
												<button type="submit" class="btn btn-success hvr-bounce-in btn-icon animate__animated animate__backInDown">
													
														<i  data-feather="check"></i>
													
												</button>
											</form>
											
											
											
											
											<!-- <button type="button" class="btn my-3 w-100 btn-outline-info" " >Print</button>
											<button type="button" class="btn my-3 w-100 btn-outline-secondary">Sync Report</button>
											<button type="button" class="btn my-3 w-100 btn-outline-primary">Submit</button> -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				
				
				</div>
				
				

			</div>


				
			
		</div>
		
	</div>

	
<script>
    // Add an event listener to the element with the ID "sendNotes"
    document.getElementById("sendNote").addEventListener("click", function() {
        // Close the modal with the ID "Notes"
        $("#Notes").modal("close");
    });
</script>


<%- include('includes/end') %>

   <!-- Add  edit updates -->
   <div class="modal fade" id="Edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Edit Updates</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <form action="/w/updates/652c3fd967240a7ebd93c39c" method="post">
			<script>
				new FroalaEditor('#textarea');
			  </script>
			<div class="row">
				<div class="col-md-12 grid-margin stretch-card">
						<div class="card-body">
							<textarea class="form-control" id="textarea" name="update"></textarea>
						</div>
				</div>
			</div>
  
		<div class=" page-content d-flex justify-content-center align-items-center">
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  <button type="submit" class="btn btn-primary"><i data-feather="plus"></i> 
		  Update
		</button>
		</div>
	  </div>
		  </form>
		</div>
	  
	  </div>
	</div>