<style>
	.smallIcons{
		max-width: 15px;
		max-height: 15px;
	}

	@media print{
    body *:not(#my-section):not(#my-section *){
        visibility:hidden;
    }
    #my-section{
        position: absolute;
        top: 0;
        left: 0;
		visibility: visible;
		align-items: center;
		justify-content: center;
		min-width: 120%;
		min-height: 500%;
		zoom: 1.2;
    }
}
</style>
<%- include('../includes/head') %>

<div class="main-wrapper">
  <div class="main-wrapper">
    <%- include('../includes/_navbar') %>
  
  
      <div class="page-wrapper">
        <%if (designation == "Admin" || designation == "Management" ) {%>
          <%- include('../includes/_sidebar') %>
          <%} else if (designation == "HoIT" || designation == "NOC-TL" ) {%>
          <%- include('../includes/_sidebar-mm') %>
          
          <%} else {%>
          <%- include('../includes/_sidebar_Staff') %>
        <% } %>
			<div class="page-content d-flex align-items-center justify-content-center" style="margin-top: 0;">

				
				<div class="card cardbody mt-4" style="width: 100%; height: 100vh;">
					<div class="card-body card-body-alt px-5">
            <div class="row ">
              <div class="col-md-12 grid-margin stretch-card">
                <!-- <div class=" mx-0 my-0 px-0 py-0">
                  <div class="card-header row">
                    <a href="/tickets/form" class="btn btn-outline-primary mr-5 mb-4 mb-md-0 " style="float: right;">
                        <i class="mdi mdi-plus"> </i>
                        Create Ticket
                    </a> <br>
                    
                </div>
                <div class="row ml-3 mt-2 ">
                  <h6 class="badge badge-pill badge-success">Tickets: <%= tickets.length%></h6>
                  <h6 class="badge badge-pill badge-info ml-2">Updates: <%= tickets.length%></h6>
                </div> -->
                
                  <div class="card-body">
                    <h6 class="card-title">Tickets List</h6>
                    <p class="card-description"></p>
                    <div class="table-responsive">
                      <table id="dataTableExample" class="table">
                        <thead>
                          <tr>
                            <th>Ticket</th>
                            <th>Priority</th>
                            <th>Status</th>
                            <th>Subject</th>
                            <th>Contact</th>
                            <th>Update Date</th>
                            <th>Assignee</th>
                        </tr>
                        </thead>
                        <tbody>
                            <% for( i in tickets ) {%>
                                <tr>
                                    <td >
                                        <a href="/ticket/<%=tickets[i]._id %>" style="color: cyan;">TT-<%=tickets[i]._id.toString().slice(10, 21)  %></a>
                                    </td>
                                    <td>
                                        <p class="<%if (tickets[i].priority == 'Low') {%>
                                          badge badge-pill badge-secondary <%}else if (tickets[i].priority == 'Medium') {%>
                                            badge badge-pill badge-warning <%} else {%> 
                                              badge badge-pill badge-danger <%}%>
                                            ">
                                    <%=tickets[i].priority %></p>
                                    </td>
                                    <td>
                                      <p class="<%if (tickets[i].status == 'Active') {%>
                                        badge badge-pill badge-success <%} else {%> 
                                            badge badge-pill badge-secondary <%}%>
                                          "><%=tickets[i].status %></p>
                                      </td>
                                    <td class="text-light text-bold"><%=tickets[i].subject %></td>
                                    <td><%=tickets[i].contact.name %></td>
                                    <td><%=tickets[i].date.toISOString().slice(0, 10) %></td>
                                    <td>
                                      <div class="dropdown">
																	
                                        <% if (tickets[i].assignee) {%>
                                        <button class="btn btn-dark bg-transparent dropdown-toggle" type="button" id="dropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <%=tickets[i].assignee.name%>
                                        </button>
                                        <% } else {%>
                                          <button class="btn btn-dark bg-transparent dropdown-toggle" type="button" id="dropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            
                                          </button>
                                        <% } %>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                                          <%for (j in users) {%>
                                            
                                            <form action="/tickets/assign-ticket/<%=tickets[i]._id %>" method="post">
                                              <button type="submit"  class="dropdown-item" style="border:none;">
                                                <%= users[j].name%>
                                              </button>
                                              <input type="hidden" name="newAssigneeId" value="<%= users[j]._id%>">
                                            
                                            </form>
                                          <% } %>
                                          <div class="dropdown-divider"></div>
                                          
                                        </div>
                                      </div>
                                      
                                     
                                      
                                    </td>
                                </tr>
                            <%}%>
                        </tbody>
                    </table>
                    </div>
                </div>
                </div>
              </div>
            </div>
          </div>
					
				
				
				</div>
				
				

			</div>


				
			<!--NAVIGATION-->
			<!-- Nav Includes -->
			<% if (designation === 'NOC-TL' || designation === 'HoIT') { %>
			    <%- include('../includes/_navbar') %>
            <%} else {%>
			    <%- include('../includes/_navbar') %>
            
            <% } %>
		</div>
		
	</div>

	
<script>
    // Add an event listener to the element with the ID "sendNotes"
    document.getElementById("sendNote").addEventListener("click", function() {
        // Close the modal with the ID "Notes"
        $("#Notes").modal("close");
    });
</script>


<%- include('../includes/end') %>

   <!-- Add  edit updates -->
   <div class="modal fade" id="Edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Edit Updates</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <form action="/mm/tasks" method="post">
			<script>
				new FroalaEditor('#textarea');
			  </script>
			<div class="row">
				<div class="col-md-12 grid-margin stretch-card">
						<div class="card-body">
							<textarea class="form-control" id="textarea" name="tiny"></textarea>
						</div>
				</div>
			</div>
  
		<div class=" page-content d-flex justify-content-center align-items-center">
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  <button type="submit" class="btn btn-primary"><i data-feather="plus"></i> 
		  Update
		</button>
		</div>
	  </div>
		  </form>
		</div>
	  
	  </div>
	</div>